@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Parkinsans';
    src: url('/fonts/Parkinsans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #f4f4f4;
}

.app {
    flex: 1;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #ffffff;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 90px;
    height: auto;
    margin-right: 2px;
}

.logo-container h2 {
    font-family: 'Parkinsans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #1A7BC9;
    margin-bottom: 10px;
}

.menu-container {
    flex-grow: 1;
    text-align: center;
}

.menu {
    list-style: none;
    display: inline-flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    font-size: 18px;
    color: #0A2C47;
    padding: 10px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #1A7BC9;
}

.auth-buttons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-buttons .login-btn,
.auth-buttons .register-btn {
    background-color: #1A7BC9;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.auth-buttons .login-btn:hover,
.auth-buttons .register-btn:hover {
    background-color: #0A2C47;
}

.auth-buttons .nav-link {
    color: white;
    text-decoration: none;
}

.auth-buttons .nav-link:hover {
    text-decoration: none;
}

.navbar-nav .dropdown-menu {
    min-width: 180px;
}

.navbar-nav .dropdown-item {
    padding: 10px;
}

.navbar-nav .dropdown-item:hover {
    background-color: #f1f1f1;
}

.nav-link .dropdown-toggle .user {
    color: #0A2C47;
}

.collapse .navbar-collapse .user {
    color: #0A2C47;
}

.navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
}

.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: auto;
    text-align: center;
    position: relative;
}

.footer-bottom {
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
    margin-right: 50px;
}

.language-selector {
    display: inline-block;
    vertical-align: middle;
}

.language-selector ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: 10px;
}

.language-selector li {
    display: inline;
}

.language-selector a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    transition: color 0.3s ease;
}

.language-selector a:hover {
    text-decoration: none;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.btn-primary, .btn-warning, .btn-danger {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.btn-primary, .btn-warning {
    background-color: #1A7BC9;
}

.btn-primary:hover, .btn-warning:hover {
    background-color: #0A2C47;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #950412;
}

.destination-form, .accommodation-form, .activity-form {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 15px;
}

