.travel-page {
    margin: 30px;
}

.travel-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.travel-header h3 {
    font-size: 28px;
    flex-grow: 1;
    color: #0A2C47;
    margin: 0;
    text-align: center;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-field form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-field input {
    width: 200px;
    padding: 5px;
    border-radius: 15px;
}

.search-field button {
    padding: 5px 10px;
}

.travel-header .new-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.travel-cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 50px;
    margin: 0 auto;
}

.no-results {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    color: #0A2C47;
}

.travel-card {
    text-align: center;
}

.travel-card img {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
}

.travel-card p {
    font-size: 18px;
    color: #0A2C47;
    margin-top: 10px;
}

.travel-card a {
    text-decoration: none;
}

.travel-btn {
    padding: 8px 25px;
}

.carousel {
    margin: 20px auto;
    max-width: 800px;
}

.carousel img {
    width: 700px;
}

.object-details {
    margin: 30px auto;
    width: 80%;
    max-width: 1200px;
}

.object-details h1 {
    text-align: center;
    color: #0A2C47;
    margin-bottom: 30px;
}

.object-address,
.object-price,
.object-description {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.object-description {
    margin-top: 20px;
}

.object-address h2,
.object-price h2,
.object-description h2 {
    color: #0A2C47;
    margin-bottom: 10px;
}

.object-address p {
    color: #333;
}

.object-price p {
    color: #27ae60;
    font-weight: bold;
}

.object-description p {
    color: #333;
    line-height: 1.6;
    text-align: justify;
}

@media (max-width: 500px) {
    .travel-header {
        flex-direction: column;
        align-items: center;
    }

    .travel-header h3 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .search-field,
    .travel-header .new-btn {
        position: static;
        transform: none;
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
    }

    .search-field form {
        justify-content: center;
        width: 90%;
    }

    .search-field input {
        width: 100%;
        max-width: 300px;
    }

    .travel-cards {
        grid-template-columns: 1fr;
    }

    .travel-card img {
        height: 200px;
    }

    .carousel img {
        height: 250px;
    }

    .object-details h1 {
        font-size: 26px;
    }

    .object-address h2,
    .object-description h2,
    .object-price h2 {
        font-size: 20px;
    }

    .object-address p,
    .object-description p {
        font-size: 14px;
    }

    .object-price p {
        font-size: 16px;
    }
}

@media (min-width: 501px) and (max-width: 700px) {
    .travel-header {
        flex-direction: column;
        align-items: center;
    }

    .travel-header h3 {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .search-field,
    .travel-header .new-btn {
        position: static;
        transform: none;
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
    }

    .search-field form, .travel-header .new-btn {
        justify-content: center;
        width: 100%;
        max-width: 350px;
    }

    .search-field input {
        width: 100%;
    }

    .travel-cards {
        grid-template-columns: 1fr;
    }

    .travel-card img {
        height: 220px;
    }

    .carousel img {
        height: 300px;
    }

    .object-details h1 {
        font-size: 28px;
    }

    .object-address h2,
    .object-description h2,
    .object-price h2 {
        font-size: 21px;
    }

    .object-address p,
    .object-description p {
        font-size: 15px;
    }

    .object-price p {
        font-size: 17px;
    }
}

@media (min-width: 701px) and (max-width: 900px) {
    .travel-header {
        flex-direction: column;
        align-items: center;
    }

    .travel-header h3 {
        margin-bottom: 15px;
    }

    .search-field,
    .travel-header .new-btn {
        position: static;
        transform: none;
        margin-bottom: 10px;
        justify-content: center;
        width: 100%;
    }

    .search-field form {
        justify-content: center;
        width: 100%;
        max-width: 740px;
    }

    .search-field input {
        width: 100%;
    }

    .travel-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .travel-card img {
        height: 200px;
    }

    .carousel img {
        height: 350px;
    }

    .object-details h1 {
        font-size: 30px;
    }

    .object-address h2,
    .object-description h2,
    .object-price h2 {
        font-size: 22px;
    }

    .object-address p,
    .object-description p {
        font-size: 16px;
    }

    .object-price p {
        font-size: 18px;
    }
}

@media (min-width: 901px) and (max-width: 1050px) {
    .travel-header {
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }

    .travel-header h3 {
        text-align: center;
        flex: 1;
    }

    .search-field,
    .travel-header .new-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        right: 0;
    }

    .travel-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .travel-card img {
        height: 220px;
    }

    .carousel img {
        height: 400px;
    }

    .object-details h1 {
        font-size: 32px;
    }

    .object-address h2,
    .object-description h2,
    .object-price h2 {
        font-size: 23px;
    }

    .object-address p,
    .object-description p {
        font-size: 17px;
    }

    .object-price p {
        font-size: 19px;
    }
}

@media (min-width: 1051px) {
    .travel-header {
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
    }

    .travel-header h3 {
        text-align: center;
        flex: 1;
    }

    .search-field,
    .travel-header .new-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .travel-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    .travel-card img {
        height: 220px;
    }

    .carousel img {
        height: 400px;
    }

    .object-details h1 {
        font-size: 34px;
    }

    .object-address h2,
    .object-description h2,
    .object-price h2 {
        font-size: 24px;
    }

    .object-address p,
    .object-description p {
        font-size: 18px;
    }

    .object-price p {
        font-size: 20px;
    }
}
