.travel-page {
    margin: 30px;
}

.travel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    position: relative;
}

.travel-header h3 {
    font-size: 28px;
    flex-grow: 1;
    color: #0A2C47;
    text-align: center;
    margin: 0;
}

.search-field {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: absolute;
    right: 85px;
    top: 50%;
    transform: translateY(-50%);
}

.search-field form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-field input {
    width: 200px;
    padding: 5px;
    border-radius: 15px;
}

.search-field button {
    padding: 5px 10px;
}

.travel-header .new-btn {
    position: absolute;
    right: 85px;
    top: 50%;
    transform: translateY(-50%);
}

.travel-cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    row-gap: 50px;
    margin: 0 auto;
}

.no-results {
    margin-top: 30px;
    font-size: 16px;
    text-align: center;
    color: #0A2C47;
}

.travel-card {
    text-align: center;
}

.travel-card img {
    height: 220px;
    width: 350px;
    border-radius: 10px;
}

.travel-card p {
    font-size: 18px;
    color: #0A2C47;;
    margin-top: 10px;
}

.travel-card a {
    text-decoration: none;
}

.travel-btn {
    padding: 8px 25px;
}

